{% extends 'header.html' %}
{% block content %}
<div class="welcome-container">
    <div class="welcome-box text-center">
        {% if request.user.is_authenticated %}
        <h2 class="welcome-title">¡Bienvenido {{ user.username|upper }}!</h2>
        {% else %}
        <h2 class="welcome-title">¡Bienvenido a la Pokédex!</h2>
        {% endif %}

        <p class="welcome-subtext">Explora el mundo Pokémon</p>
        <a href="{% url 'home' %}" class="btn btn-pokemon">Ir a la Galería</a>
    </div>
</div>
{% endblock %}