
{% extends 'header.html' %}
{% load static %}
{% block content %}
<main class="register-container">
    <div class="register-card">
        <!-- Imagen -->
        <div class="register-img">
            <img src="{% static 'pokemon1.jpg' %}" alt="Pokebola">
        </div>

        <!-- Formulario -->
        <div class="register-form">
            <h2 class="register-title">¡Unete a la Pokédex!</h2>
            {% if error %}
                <div class="alert alert-danger text-center">{{ error }}</div>
            {% endif %}
            <form method="post">
                {% csrf_token %}
                <label>Nombre de usuario:</label>
                <input type="text" name="username" required>
                <label>Correo electrónico:</label>
                <input type="email" name="email" required>
                <label>Contraseña:</label>
                <input type="password" name="password" required>
                <button type="submit">Registrarse</button>
            </form>
        </div>
    </div>
</main>
{% endblock %}
